.contenedor{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.contenedor {
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/0002.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.caja {
  top: -18%;
  width: 370px;
  height: 237px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.lado {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.frente {
background-image: url(../assets/PARTE\ DE\ ADELANTE\ TRANAPARENTE.png);
background-size: contain;
}
.dorso {
  background-image: url(../assets/PARTE\ DE\ ATRAS\ TRANSPARENTE.png);
  background-size: contain;
  transform: rotateY(180deg);
}