html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.blended_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.topBanner {
  backdrop-filter: blur(5px);
  text-align: center;
  justify-content: center;
  z-index: 999999999;
  position: fixed;
  display: flex;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  top: 7%;
  animation: deslizUP 2s ease 0s 1 normal forwards;
}
@keyframes deslizUP {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.botonmenu {
  background-color: rgba(0, 0, 0, 0.442);
  line-height: 40px;
  color: white;
  width: 30%;
  height: 100%;
  border-left: 1px solid #ffffff;
  transition: 0.3s ease;
}
.topBanner .botonmenu:first-child {
  border-radius: 200px 0px 0px 200px;
}
.topBanner .botonmenu:last-child {
  border-radius: 0px 200px 200px 0px;
}
.botonmenu:hover {
  box-shadow: 0px 0px 27px 8px rgba(255, 255, 255, 0.6);
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 105%;
  transition: 0.3s ease;
}

.middleBanner {
  justify-content: center;
  box-shadow: 1px -157px 94px 0px rgba(77, 87, 128) inset;
  display: flex;
  position: relative;
  background-image: url(../assets/wallpaper01.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  top: 10%;
}
.circuloguia {
  z-index: 999;
  position: absolute;
  bottom: -45px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.descripcionmia {
  top: 5%;
  position: relative;
  display: flex;
  width: 840px;
  height: 400px;
  margin: auto;
}
.sobremi {
  margin-left: 2%;
  color: white;
  text-align: left;
  width: 400px;
  height: 400px;
  padding: 15px;
  animation: deslizDER 1s ease 0s 1 normal forwards;
}
@keyframes deslizDER {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
p {
  word-wrap: break-word;
}
.sobremi h1 {
  line-height: 0;
  font-size: 340%;
}
.sobremi h2 {
  font-size: 200%;
}

.fotomia {
  background-image: url(../assets/fotoperfil.jpg);

  border-radius: 80px 45px 80px 45px;
  width: 400px;
  height: 400px;
  background-color: rgb(130, 21, 130);
  animation: deslizIZQ 1s ease 0s 1 normal forwards;
}
@keyframes deslizIZQ {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.banner02 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: rgb(77, 87, 128);
}
.iconoscategoria {
  z-index: 99999;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 120px;
  bottom: -70px;
  background-size: contain;
}
.linea {
  padding: 10% 5% 0% 0%;
  font-size: 200%;
  text-align: right;
  color: white;
  border-right: 10px solid #ffffff;
  position: absolute;
  left: 0;
  width: 50.5%;
  height: 100%;
}
.lineafondo {
  border-right: 10px solid #ffffff;
  left: 0;
  position: absolute;
  width: 50.5%;
  height: 55%;
}

.banner03 {
  background-color: rgb(77, 87, 128);
  overflow: hidden;
  justify-content: center;
  display: flex;
  width: 100%;
}

.boxinteriorbanner {
  z-index: 9999;
  transition: 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 120%;
  color: #41457a;
  text-align: center;
  padding: 6%;
  border-radius: 40px;
  width: 60%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.logotrabajo {
  background-size: contain;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.boxinteriorbanner a {
  color: rgb(0, 88, 176);
}
.boxinteriorbanner a:hover {
  transition: 0.3s ease;
  font-size: 105%;
  color: rgb(0, 231, 35);
}

.botoncontacto {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  width: 100px;
  height: 100px;
}

.habilidad {
  font-size: 45%;
  background-size: contain;
  margin: 0px 10px 0px 10px;
  width: 50px;
  height: 50px;
  transition: 0.2s ease;
}
.habilidad:hover {
  transition: 0.2s ease;
  transform: scale(1.1);
}
.habilidad p {
  z-index: 80;
  filter: opacity(0);
  transform: translateY(60px);
}
.habilidad:hover p {
  transition: 0.2s ease;
  filter: opacity(1);
}

/* Media query para pantallas de menos de 480px (celulares pequeños) */
@media (max-width: 480px) {
  .topBanner {
display: none;
  }
  .middleBanner {
    box-shadow: 1px -157px 94px 0px rgba(77, 87, 128) inset;
    display:flex ;
    flex-wrap: wrap;
    top: 0%;
  }
  
  .sobremi {
    position: absolute;
    margin-left: 0%;
    color: white;
    text-align: center;
    width: 100%;
    height: 300px;
    padding: 50px;
    top: 10%;
  }

  .sobremi h1 {
    line-height: 0;
    font-size: 200%;
  }
  .sobremi h2 {
    font-size: 150%;
  }
  
  .fotomia {
position: absolute;
    background-size: cover;
    border-radius: 40px 25px 40px 25px;
    width: 200px;
    height: 200px;
    top: -30%;
    margin: 0% 25% 0% 25%;
  }
  .circuloguia {
    left: 45%;
    bottom: -10px;
    width: 30px;
    height: 30px;
  }
  .iconoscategoria {
    width: 80px;
    height: 80px;
    bottom: -50px;
  }
  .boxinteriorbanner {
    z-index: 999;
    font-size: 70%;
    padding: 15% 5% 10% 5%;
    border-radius: 20px;
    width: 90%;
  }
  .habilidad {
    margin: 10px 5px 10px 5px;
    width: 40px;
    height: 40px;
  }
  .logotrabajo {
   transform: scale(0.7);
  }
  .banner02 {
    height: 150px;

  }
  .linea {
    padding: 17% 2% 0% 0%;
    font-size: 100%;
    width: 50.5%;
    height: 100%;
  }
  .botoncontacto {
    width: 70px;
    height: 70px;
  }
}

/* Media query para pantallas de menos de 800px (celulares pequeños) */
@media (max-width: 800px) {

  .middleBanner {
    box-shadow: 1px -157px 94px 0px rgba(77, 87, 128) inset;
    display:flex ;
    flex-wrap: wrap;
    top: 0%;
  }
  
  .sobremi {
    position: absolute;
    margin-left: 0%;
    color: white;
    text-align: center;
    width: 100%;
    height: 300px;
    padding: 50px;
    top: 25%;
  }

  .sobremi h1 {
    line-height: 0;
    font-size: 200%;
  }
  .sobremi h2 {
    font-size: 150%;
  }
  
  .fotomia {
position: absolute;
    background-size: cover;
    border-radius: 40px 25px 40px 25px;
    width: 270px;
    height: 270px;
    top: -40%;
    margin: 0% 25% 0% 30%;
  }
  .circuloguia {
    left: 47%;
    bottom: -10px;
    width: 30px;
    height: 30px;
  }
  .iconoscategoria {
    width: 80px;
    height: 80px;
    bottom: -50px;
  }
  .boxinteriorbanner {
    z-index: 999;
    font-size: 70%;
    padding: 15% 5% 10% 5%;
    border-radius: 20px;
    width: 90%;
  }
  .habilidad {
    margin: 10px 5px 10px 5px;
    width: 40px;
    height: 40px;
  }
  .logotrabajo {
   transform: scale(0.7);
  }
  .banner02 {
    height: 150px;

  }
  .linea {
    padding: 17% 2% 0% 0%;
    font-size: 100%;
    width: 50.5%;
    height: 100%;
  }
  .botoncontacto {
    width: 70px;
    height: 70px;
  }
}